{% extends 'base.html' %}

{% block center %}
  <h2> Lista de Alunos</h2>

  <a href="{% url 'aluno_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Cidade</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for aluno in alunos %}  
      <tr>
        <td>{{ aluno.nome_aluno }}</td>
        <td>{{ aluno.email }}</td>
        <td>{{ aluno.cidade.nome }}</td>
        <td>{{ aluno.curso.nome }}</td>
        <td>
          <a href="{% url 'aluno_editar' id=aluno.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'aluno_remover' id=aluno.id %}" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}