{% extends 'base.html' %} {% block center %}
<h2>Lista de Hospedagens</h2>

<form method="get">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="data_saida" class="form-label">Data de saída</label>
      {{ form.data_saida }}
    </div>

    <div class="col-md-6 mb-3">
      <label for="data_entrada" class="form-label">Data de entrada</label>
      {{ form.data_entrada }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cliente" class="form-label">Cliente</label>
      {{ form.cliente }}
    </div>
    <div class="col-md-6 mb-3">
      <label for="apartamento" class="form-label">Apartamento</label>
      {{ form.quarto}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<div class="d-flex justify-content-end">
  <a href="{% url 'hospedagem_criar' %}" class="btn btn-success mb-3"
    >Novo Cadastro</a
  >
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Data de Entrada</th>
      <th>Data de Saída</th>
      <th>Valor</th>
      <th>Cliente</th>
      <th>Quarto</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for hospedagem in hospedagens %}
    <tr>
      <td>{{ hospedagem.data_entrada }}</td>
      <td>{{ hospedagem.data_saida }}</td>
      <td>{{ hospedagem.valor }}</td>
      <td>{{ hospedagem.cliente.nome }}</td>
      <td>{{ hospedagem.quarto.apartamento }}</td>
      <td>
        <a
          href="{% url 'hospedagem_editar' pk=hospedagem.id %}"
          class="btn btn-primary btn-sm"
          >Editar</a
        >
        <a
          href="{% url 'hospedagem_remover' pk=hospedagem.id %}"
          class="btn btn-danger btn-sm"
          >Remover</a
        >
        <a
          href="{% url 'hospedagem_detalhar' pk=hospedagem.id %}"
          class="btn btn-info btn-sm"
          >Detalhes</a
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'pagination.html' %} {% endblock %}
